.nav-link {
    display: block;
    padding: .5rem 1rem;
    color:black;
}

.nav-link:hover {
    color: darkgrey;
}

.nav-link:focus {
    color: purple;
    font-weight: bolder;
}

.tab-content {
    margin-top: 1rem;
    background-color: white;
}

@media only screen and (min-width: 0px) {
    .menu-card {
        height: 130px;
    }

    .card-title {
        font-size: 0.7em;
    }

    .card-title p {
        font-size: 0.7em;
    }
}

@media only screen and (min-width: 469px) {

    .card-title {
        font-size: 1.5em;
    }

    .card-title p {
        font-size: 0.7em;
    }
}
